name: Build Modules
on:
  workflow_call:
    inputs:
      from_ci:
        type: boolean
        required: false
        default: true

  workflow_dispatch:

jobs:
  run:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Cache prebuilts
        uses: actions/cache@v4
        with:
          path: temp
          key: revanced-${{ runner.os }}-v3

      - name: Get next version code
        id: next_ver_code
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(gh release list -L 1 | awk -F '\t' '{print $3}')
          if [ -z "$TAG" ]; then TAG=0; fi
          echo "NEXT_VER_CODE=$((TAG + 1))" >> $GITHUB_OUTPUT

      - name: Build APKs
        run: ./build.sh config.toml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          NEXT_VER_CODE: ${{ steps.next_ver_code.outputs.NEXT_VER_CODE }}
          JAVA_OPTS: "-Xmx4g -XX:+UseG1GC"

      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/*
          release_name: RVCBotBuilds v${{ steps.next_ver_code.outputs.NEXT_VER_CODE }}
          tag: ${{ steps.next_ver_code.outputs.NEXT_VER_CODE }}
          file_glob: true
          overwrite: true
          prerelease: false

      - name: Notificar Telegram
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        if: env.TG_TOKEN != null && env.TG_CHAT_ID != null
        run: |
          cd build || exit 1
          TG_CHAT="${{ secrets.TG_CHAT_ID }}"
          BUILD_NUM="${{ steps.next_ver_code.outputs.NEXT_VER_CODE }}"
          MSG="*Nova Build\\!*
          Versao: ${BUILD_NUM}
          Data: $(date '+%d/%m/%Y %H:%M')
          
          Downloads:
          https://github.com/${{ github.repository }}/releases/tag/${BUILD_NUM}"
          curl -s -X POST "https://api.telegram.org/bot${TG_TOKEN}/sendMessage" \
            -d "parse_mode=MarkdownV2" \
            -d "disable_web_page_preview=true" \
            --data-urlencode "text=${MSG}" \
            -d "chat_id=${TG_CHAT}"
